# Version control
.git
.gitignore

# Docker
dockerfile
.dockerignore

# Python cache + builds
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
build/
dist/

# Virtual environments
venv/
.venv/
.env

# IDE / editor settings
.vscode/
.idea/
*.sw?
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
tmp/
temp/

# Data, notebooks, outputs
notebooks/
outputs/
*.sqlite3

# Credentials and secrets
.env.local
.envrc
credentials/


# dependencies
uv.lock
pyproject.toml